<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Detalles Empleado</h3>
    <div class="form-group">
        <label>Id: </label>
        <span><strong>{{empleado.id}}</strong></span>
    </div>
    <div class="form-group">
        <label>Nombre: </label>
        <span><strong>{{empleado.nombre}}</strong></span>
    </div>
    <div class="form-group">
        <label>Apellido: </label>
        <span><strong>{{empleado.apellido}}</strong></span>
    </div>
    <div class="form-group">
        <label>Email: </label>
        <span><strong>{{empleado.email}}</strong></span>
    </div>



</div>